<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="modalGuardar" id="modalGuardar" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear MP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p th:text="|Segur que vols crear aquesta MP?|"></p>
            </div>
            <form th:object="${mpSel}" class="modal-footer" th:action="@{/MP/guardaMP}">
                <input th:field="*{numMP}" type="hidden" name="numMp" class="form-control">
                <input th:field="*{nomMP}" type="hidden" name="nomMp" class="form-control">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancela</button>
            </form>
        </div>
    </div>
</div>

<div th:fragment="modalEditar" id="modalEditar" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar MP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p th:text="|Segur que vols editar aquesta MP${editaMP.numMP} ${editaMP.nomMP}?|"></p>
            </div>
            <form th:object="${editaMP}" class="modal-footer" th:action="@{/MP/editaMP}">
                <input th:field="*{numMP}" type="hidden" name="numMp" class="form-control">
                <input th:field="*{nomMP}" type="hidden" name="nomMp" class="form-control">
                <input th:field="*{idMP}" type="hidden" name="idMp" class="form-control">
                <button type="submit" class="btn btn-primary">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancela</button>
            </form>
        </div>
    </div>
</div>

<div th:fragment="modalRemove" id="modalRemove" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar MP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p th:text="|Segur que vols eliminar aquesta MP${mpSel.numMP} ${mpSel.nomMP}?|"></p>
            </div>
            <form th:object="${mpSel}" class="modal-footer" th:action="@{/MP/removeMP(mp=${mpSel.numMP})}" method="post">
                <input th:field="*{numMP}" type="hidden" name="numMp" class="form-control">
                <input th:field="*{nomMP}" type="hidden" name="nomMp" class="form-control">
                <input th:field="*{idMP}" type="hidden" name="idMp" class="form-control">
                <button type="submit" class="btn btn-primary" >Elimina</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancela</button>
            </form>

        </div>
    </div>
</div>

<div th:fragment="modalGuardarUF" id="modalGuardarUF" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear UF</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p th:text="|Segur que vols crear aquesta UF${uf.numUF} ${uf.nomUF}?|"></p>
            </div>
            <form th:object="${uf}" class="modal-footer" th:action="@{/UF/guardaUF}">
                <input th:field="*{numUF}" type="hidden" name="numUf" class="form-control">
                <input th:field="*{nomUF}" type="hidden" name="nomUf" class="form-control">
                <input th:field="*{horesUF}" type="hidden" name="horesUf" class="form-control">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancela</button>
            </form>
        </div>
    </div>
</div>

<div th:fragment="modalEditarUF" id="modalEditarUF" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar UF</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p th:text="|Segur que vols editar aquesta UF${editaUF.numUF} amb el nom de ${editaUF.nomUF} i amb aquestes hores ${editaUF.horesUF}?|"></p>
            </div>
            <form th:object="${editaUF}" class="modal-footer" th:action="@{/UF/editaUF}">
                <input th:field="*{numUF}" type="hidden" name="numUf" class="form-control">
                <input th:field="*{nomUF}" type="hidden" name="nomUf" class="form-control">
                <input th:field="*{horesUF}" type="hidden" name="horesUf" class="form-control">
                <input type="hidden" name="numMP" th:value="${mp.numMP}">
                <button type="submit" class="btn btn-primary">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:href="@{/UF/llistaUF}">Cancela</button>
            </form>
        </div>
    </div>
</div>

<div th:fragment="modalRemoveUF" id="modalRemoveUF" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar UF</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p th:text="|Segur que vols eliminar aquesta UF${uf.numUF} ${uf.nomUF}?|"></p>
            </div>
            <form th:object="${uf}" class="modal-footer" th:action="@{/UF/removeUF(uf1=${uf.numUF},mp=${oMP.numMP})}" method="post">
                <input th:field="*{numUF}" type="hidden" name="numUf" class="form-control">
                <input th:field="*{nomUF}" type="hidden" name="nomUf" class="form-control">
                <input th:field="*{horesUF}" type="hidden" name="horesUf" class="form-control">
                <button type="submit" class="btn btn-primary" >Elimina</button>
                <span class="col-6"><a class="btn btn-success float-right" th:href="@{/UF/llistaUF}">Cancela</a></span>
            </form>
        </div>
    </div>
</div>

<div th:fragment="modalGuardarStudent" id="modalGuardarStudent" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p th:text="|Segur que vols crear aquest Student?|"></p>
            </div>
            <form th:object="${creaStudent}" class="modal-footer" th:action="@{/Student/guardaStudent}">
                <input th:field="*{dni}" type="hidden" name="dni" class="form-control">
                <input th:field="*{nom}" type="hidden" name="nom" class="form-control">
                <input th:field="*{cognom}" type="hidden" name="cognom" class="form-control">
                <input th:field="*{dataNaix}" type="hidden" name="dataNaix" class="form-control">
                <input th:field="*{mail}" type="hidden" name="mail" class="form-control">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancela</button>
            </form>
        </div>
    </div>
</div>

<div th:fragment="modalEditarStudent" id="modalEditarStudent" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p th:text="|Segur que vols editar aquest Student${editaStudent.dni} ${editaStudent.nom}?|"></p>
            </div>
            <form th:object="${editaStudent}" class="modal-footer" th:action="@{/Student/editaStudent}">
                <input th:field="*{dni}" type="hidden" name="dni" class="form-control">
                <input th:field="*{nom}" type="hidden" name="nom" class="form-control">
                <input th:field="*{cognom}" type="hidden" name="cognom" class="form-control">
                <input th:field="*{dataNaix}" type="hidden" name="dataNaix" class="form-control">
                <input th:field="*{mail}" type="hidden" name="mail" class="form-control">
                <input th:field="*{idStudent}" type="hidden" name="idStudent" class="form-control">
                <button type="submit" class="btn btn-primary">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancela</button>
            </form>
        </div>
    </div>
</div>

<div th:fragment="modalRemoveStudent" id="modalRemoveStudent" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p th:text="|Segur que vols eliminar aquest Student${studentSel.dni} ${studentSel.nom}?|"></p>
            </div>
            <form th:object="${studentSel}" class="modal-footer" th:action="@{/Student/removeStudent(student=${studentSel.dni})}" method="post">
                <input th:field="*{dni}" type="hidden" name="dni" class="form-control">
                <input th:field="*{nom}" type="hidden" name="nom" class="form-control">
                <input th:field="*{cognom}" type="hidden" name="cognom" class="form-control">
                <input th:field="*{dataNaix}" type="hidden" name="dataNaix" class="form-control">
                <input th:field="*{mail}" type="hidden" name="mail" class="form-control">
                <input th:field="*{idStudent}" type="hidden" name="idStudent" class="form-control">
                <button type="submit" class="btn btn-primary" >Elimina</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancela</button>
            </form>

        </div>
    </div>
</div>

</html>

