<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>

<header th:replace="principal"></header>

<div th:if="${msg}" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong th:text="${msg}"></strong>
</div>

<div class="container p-3">
    <div class="row">
        <span class="col-6"><h3>Llista de matricules</h3></span>
        <span class="col-6"><a class="btn btn-success float-right mr-40" th:href="@{/Matr/creaMatr}">Crea</a></span>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Data matriculació</th>
                <th scope="col">Opcions</th>
                <th scope="col">Activació</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="matr : ${llistaMatr}">
                <td th:text="${matr.dataMatr}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{/Matr/editMatrView(idMatr=${matr.idMatr})}">Edita</a>
                    <a class="btn btn-danger" th:href="@{/Matr/removeMatrView(idMatr=${matr.idMatr})}">Elimina</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--<div th:replace="myModals/myModals :: modalRemoveMatr"></div>-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!--
<script th:inline="javascript">
    var modalAttr = [[${modal}]];
    if (modalAttr === "1") {
        $('#modalRemoveMatr').modal('show');
    }
</script>
-->
</body>
</html>